<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="./dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Employee</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card shadow mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">{{infoLable}} Employee</h6>

        <div class="card-header-right my-1">
            <button *ngIf="createBtn" (click)="elementShowHide('create')" type="button" class="btn btn-primary btn-rounded btn-icon custom-btn-round mx-1" ngbTooltip="Press for creating an employee.">
                <i class="icon-plus"></i>
            </button>
            <button *ngIf="listBtn" (click)="elementShowHide('list')" type="button" class="btn btn-success btn-rounded btn-icon custom-btn-round mx-1" ngbTooltip="Press for seeing the employee list.">
                <i class="icon-list"></i>
            </button>
        </div>
      </div>

      <div class="card-body">
        <!--Employee Create Form Start-->
        <div class="create-form" *ngIf="showHideCreateElement">
          <form-wizard class="form-wizard">
            <wizard-step [title]="'1.Basic Info.'">
              <section class="content">
                <h3>Basic Info.</h3>
                <div class="form-group required">
                  <label class="control-label">First Name</label>
                  <input type="text" class="form-control" placeholder="First name" required>
                </div>
                <div class="form-group required">
                  <label class="control-label">Last Name</label>
                  <input type="text" class="form-control" placeholder="Last name" required>
                </div>
                <div class="form-group required">
                  <label class="control-label">Date of Birth</label>
                  <input class="form-control" required placeholder="yyyy-mm-dd" [minDate]="minNgbDate" [maxDate]="maxNgbDate" name="dateOfBirthNgb" ngbDatepicker #dateOfBirthNgb="ngbDatepicker" (click)="dateOfBirthNgb.toggle()">
                </div>
                <div class="form-group required">
                  <label class="control-label">Phone No.</label>
                  <input type="text" class="form-control" placeholder="Phone No." required>
                </div>
                <div class="form-group required">
                  <label class="control-label">Gender</label>
                  <select class="form-control" required>
                    <option selected>Select a Fender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                </div>
              </section>
            </wizard-step>
            <wizard-step [title]="'2.Skill Info.'">
              <section class="content">
                <h3>Skill Info.</h3>
                <div class="form-group required">
                  <label class="control-label">Name</label>
                  <input type="text" class="form-control" placeholder="Skill Name" required>
                </div>
                <div class="form-group required">
                  <label class="control-label">Experience in Years</label>
                  <input type="text" class="form-control" placeholder="Experience in Years" required>
                </div>
                <div class="form-group required">
                  <label class="control-label">Level</label>
                  <select class="form-control required">
                    <option selected>Select a Level</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Advanced">Advanced</option>
                  </select>
                </div>
              </section>
            </wizard-step>
            <wizard-step [title]="'3.Preview'">
              <section class="content">
                <h3>Employee basic information and skill:</h3>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Date of Birth</th>
                        <th scope="col">Phone No.</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Skill Name</th>
                        <th scope="col">Experience in Years</th>
                        <th scope="col">Skill Level</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </section>
            </wizard-step>
          </form-wizard>
        </div>
        <!--Employee Create Form End-->

        <!--Employee List Table Start-->
        <div class="employee-list-table" *ngIf="listElement">
          <div class="table-responsive text-center">
            <table class="table table-bordered" width="100%" cellspacing="0">
              <thead>
                <tr>
                    <!-- <th>#</th> -->
                    <th>ID</th>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>Age</th>
                    <th>Profile Image</th>
                </tr>
            </thead>
            <tfoot>
              <tr>
                  <!-- <th>#</th> -->
                  <th>ID</th>
                  <th>Name</th>
                  <th>Salary</th>
                  <th>Age</th>
                  <th>Profile Image</th>
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let item of employeeData; let i=index" (click)="highlightedRow(item.id)" [ngClass]="{'row-highlight-primary' : item.id == selectedName}">
                  <!-- <td>{{i+1}}</td> -->
                  <td>{{item.id}}</td>
                  <td>{{item.employee_name}}</td>
                  <td>{{item.employee_salary}}</td>
                  <td>{{item.employee_age}}</td>
                  <td>
                    <div class="img-fluid img-thumbnail rounded">
                      <i class="icon-user mt-2" *ngIf="item.profile_image == null || item.profile_image == ''; else profilePhoto"></i>
                      <ng-template #profilePhoto>
                          <img class="inline-block h-6 w-6 rounded-full ring-2 ring-white" src="{{item.profile_image}}" alt="Profile Image">
                      </ng-template>
                    </div>
                  </td>
              </tr>
            </tbody>
            </table>
          </div>
        </div>
        <!--Employee List Table End-->
      </div>
    </div>
  </div>
</div>

