<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="./dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Employee</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card shadow mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">{{infoLable}} Employee</h6>

        <div class="card-header-right my-1">
            <button *ngIf="createBtn" (click)="elementShowHide('create')" type="button" class="btn btn-primary btn-rounded btn-icon custom-btn-round mx-1" ngbTooltip="Press for creating an employee.">
                <i class="icon-plus"></i>
            </button>
            <button *ngIf="listBtn" (click)="elementShowHide('list')" type="button" class="btn btn-success btn-rounded btn-icon custom-btn-round mx-1" ngbTooltip="Press for seeing the employee list.">
                <i class="icon-list"></i>
            </button>
        </div>
      </div>

      <div class="card-body">
        <!--Employee Create Form Start-->
        <div class="create-form" *ngIf="showHideCreateElement">
          <form-wizard class="form-wizard">
            <wizard-step [title]="'1.Account'">
              <section class="content">
                <h3>Account</h3>
                <div class="form-group">
                  <label>Email address</label>
                  <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password" class="form-control" placeholder="Confirm password">
                </div>
              </section>
            </wizard-step>
            <wizard-step [title]="'2.Profile'">
              <section class="content">
                <h3>Profile</h3>
                <div class="form-group">
                  <label>First name</label>
                  <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter first name">
                </div>
                <div class="form-group">
                  <label>Last name</label>
                  <input type="password" class="form-control" placeholder="Last name">
                </div>
                <div class="form-group">
                  <label>Profession</label>
                  <input type="password" class="form-control" placeholder="Profession">
                </div>
              </section>
            </wizard-step>
            <wizard-step [title]="'3.Comments'">
              <section class="content">
                <h3>Comments</h3>
                <div class="form-group">
                  <label>Comments</label>
                  <textarea class="form-control" rows="3"></textarea>
                </div>
              </section>
            </wizard-step>
            <wizard-step [title]="'4.Finish'" (onComplete)="onComplete($event)">
              <div [ngSwitch]="isCompleted">
                <div *ngSwitchDefault>
                  <section class="content">
                    <h3>Finish</h3>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox">
                        <i class="input-helper"></i>
                        I agree with the Terms and Conditions.
                      </label>
                    </div>
                  </section>
                </div>
                <div *ngSwitchCase="true">
                  <section class="content">
                    <h4>Thank you! You have completed all the steps.</h4>
                  </section>
                </div>
              </div>
            </wizard-step>
          </form-wizard>
        </div>
        <!--Employee Create Form End-->

        <!--Employee List Table Start-->
        <div class="employee-list-table" *ngIf="listElement">
          <div class="table-responsive text-center">
            <table class="table table-bordered" width="100%" cellspacing="0">
              <thead>
                <tr>
                    <!-- <th>#</th> -->
                    <th>ID</th>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>Age</th>
                    <th>Profile Image</th>
                </tr>
            </thead>
            <tfoot>
              <tr>
                  <!-- <th>#</th> -->
                  <th>ID</th>
                  <th>Name</th>
                  <th>Salary</th>
                  <th>Age</th>
                  <th>Profile Image</th>
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let item of employeeData; let i=index" (click)="highlightedRow(item.id)" [ngClass]="{'row-highlight-primary' : item.id == selectedName}">
                  <!-- <td>{{i+1}}</td> -->
                  <td>{{item.id}}</td>
                  <td>{{item.employee_name}}</td>
                  <td>{{item.employee_salary}}</td>
                  <td>{{item.employee_age}}</td>
                  <td>
                    <div class="img-fluid img-thumbnail rounded">
                      <i class="icon-user mt-2" *ngIf="item.profile_image == null || item.profile_image == ''; else profilePhoto"></i>
                      <ng-template #profilePhoto>
                          <img class="inline-block h-6 w-6 rounded-full ring-2 ring-white" src="{{item.profile_image}}" alt="Profile Image">
                      </ng-template>
                    </div>
                  </td>
              </tr>
            </tbody>
            </table>
          </div>
        </div>
        <!--Employee List Table End-->
      </div>
    </div>
  </div>
</div>

